<!-- Importa o layout base do HTML -->
{% extends 'layout.html' %}

<!-- Define o título dinâmico -->
{% block title %} Cadastrar Livro {% endblock %}

<!-- Define o conteúdo dinâmico -->
{% block content %}

    <!-- Cria um cartão para organizar os objetos -->
    <div class="col-sm-10 col-lg-6 card p-5 my-5">

        <!-- Título do formulário -->
        <h3 class="card-title mb-3">Cadastro de Livro</h3>

        <!-- Exibe as mensagens de feedback do back-end -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}

                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST" action="{{ url_for('book_management.register_book') }}">

            <!-- ISBN -->
            <div class="form-group mb-3">
                <label for="isbn" class="form-label">ISBN</label>
                <input type="text" class="form-control" id="isbn" name="isbn">
            </div>

            <!-- Título -->
            <div class="form-group mb-3">
                <label for="titulo" class="form-label">Título</label>
                <input type="text" class="form-control" id="titulo" name="titulo">
            </div>

            <!-- Autor -->
            <div class="form-group mb-3">
                <label for="autor" class="form-label">Autor</label>
                <input type="text" class="form-control" id="autor" name="autor">
            </div>

            <!-- Editora -->
            <div class="form-group mb-3">
                <label for="editora" class="form-label">Editora</label>
                <input type="text" class="form-control" id="editora" name="editora">
            </div>

            <!-- Edição -->
            <div class="form-group mb-3">
                <label for="edicao" class="form-label">Edição</label>
                <input type="text" class="form-control" id="edicao" name="edicao">
            </div>

            <!-- Volume -->
            <div class="form-group mb-3">
                <label for="volume" class="form-label">Volume</label>
                <input type="text" class="form-control" id="volume" name="volume">
            </div>

            <!-- Gênero -->
            <div class="form-group mb-3">
                <label for="genero" class="form-label">Gênero</label>
                <input type="text" class="form-control" id="genero" name="genero">
            </div>

            <!-- Número de Páginas -->
            <div class="form-group mb-3">
                <label for="paginas" class="form-label">Número de Páginas</label>
                <input type="text" class="form-control" id="paginas" name="paginas">
            </div>

            <!-- Ano de Publicação -->
            <div class="form-group mb-3">
                <label for="publicacao" class="form-label">Ano de Publicação</label>
                <input type="text" class="form-control" id="publicacao" name="publicacao">
            </div>

            <!-- Quantidade de Exemplares -->
            <div class="form-group mb-3">
                <label for="exemplares" class="form-label">Quantidade de Exemplares</label>
                <input type="text" class="form-control" id="exemplares" name="exemplares">
            </div>

            <!-- Botão de envio do formulário-->
            <button type="submit" class="btn btn-success">Cadastrar</button>
            <a class="btn btn-danger" href="{{ url_for('book_management.list_books') }}">Cancelar</a>
        </form>

    </div>

{% endblock %}