<!-- Importa o layout base do HTML -->
{% extends 'layout.html' %}

<!-- Define o título dinâmico -->
{% block title %} Gerenciar Livros {% endblock %}

<!-- Define o conteúdo dinâmico -->
{% block content %}

    <!-- Cria um cartão para organizar os objetos -->
    <div class="col-sm-10 col-lg-6 card p-5 my-5">

        <div class="d-flex justify-content-between align-items-center mb-3">

            <!-- Título da tabela (alinhado à esquerda) -->
            <h3 class="card-title mb-0">Gerenciar Livros</h3>

            <!-- Botão para novo cadastro (alinhado à direita) -->
            <a class="btn btn-success" href="{{ url_for('book_management.register_book') }}">Cadastrar Novo Livro</a>

        </div>

        <!-- Exibe as mensagens de feedback do back-end -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}

                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Tabela -->
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Título</th>
                        <th scope="col">Autor</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">Exemplares</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>

                    <!-- Loop para exibir cada livro cadastrado no banco de dados -->
                    {% for livro in livros %}
                    <tr>
                        <td>{{ livro.titulo }}</td>
                        <td>{{ livro.autor }}</td>
                        <td>{{ livro.isbn }}</td>
                        <td>{{ livro.exemplares }}</td>
                        <td>

                            <!-- Botões de ação -->
                            <a href="{{ url_for('book_management.edit_book', isbn=livro.isbn) }}" class="btn btn-primary btn-sm">Editar</a>
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#confirmDelete-{{ livro.isbn }}">Excluir</button>
                        </td>
                    </tr>

                    <!-- Modal de exclusão lógica -->
                    <div class="modal fade" id="confirmDelete-{{ livro.isbn }}" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Confirmar Exclusão</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                            </div>
                            <div class="modal-body">
                                Tem certeza que deseja excluir:
                                <br>
                                <strong>{{ livro.titulo }}</strong>?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                                <form method="post" action="{{ url_for('book_management.delete_book', isbn=livro.isbn) }}">
                                    <button type="submit" class="btn btn-danger">Sim</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Mensagem caso não haja nenhum livro -->
                    {% else %}
                    <tr>
                        <td colspan="5" class="text-center">Nenhum livro cadastrado ainda...</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    
{% endblock %}