<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Marcus Vinícius Contes Calça">
    <meta name="description" content="Software de Gestão de Biblioteca">

    <title>Login de Usuário</title>

    <!-- CSS do Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>

<body>

    <!-- Conteúdo principal -->
    <div class="container-fluid">

        <div class="row min-vh-100 d-flex align-items-center justify-content-center">

            <!-- Formulário de login de usuário -->
            <div class="col-sm-11 col-lg-4 card p-5">

                <!-- Título do formulário -->
                <h3 class="card-title mb-3">Login</h3>

                <!-- Exibe as mensagens de feedback do back-end -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                {{ message }}

                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <form method="post" action="{{ url_for('user_authentication.login') }}">

                    <!-- CPF -->
                    <div class="form-group mb-3">
                        <label for="cpf" class="form-label">CPF</label>
                        <input type="text" class="form-control" id="cpf" name="cpf">
                    </div>

                    <!-- Senha -->
                    <div class="form-group mb-3">
                        <label for="senha" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="senha" name="senha">
                    </div>

                    <!-- Botão de envio do formulário-->
                    <button type="submit" class="btn btn-success">Entrar</button>
                </form>

            </div>

        </div>

    </div>

    <!-- Java Script do Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
</body>

</html>